<div class="search-div">
	<h4>Eventos da <span style="color:#e38426">Woods - Belo Horizonte<span></h4>
</div>
<div id="gallery" class="gallery-container one-column photoswipe">
	<a href="javascript:void(0);" data-location-path="/event/private"><img src="static/weego-img/img01.jpg" alt="Woods"></a>
	<a href="javascript:void(0);" data-location-path="/event/public"><img src="static/weego-img/img02.jpg" alt="Cristiano Araújo"></a>
	<a href="javascript:void(0);"><img src="static/weego-img/img05.jpg" alt="Caipirinha"></a>
	<a href="javascript:void(0);"><img src="static/weego-img/img03.jpg" alt="Verão Sexta"></a>
	<a href="javascript:void(0);"><img src="static/weego-img/img06.jpg" alt="Woods Delas"></a>
	<a href="javascript:void(0);"><img src="static/weego-img/img04.jpg" alt="Verão Sábado"></a>
</div>