<article class="format-gallery">
    <div class="wrapped-content">
        <div class="title"><span class="category">CINCO CLUB - BH</span> <span class="time">22 de Fevereiro - 22h</span></div>
        <h2>Festa de Inauguração - Weego</h2>
    </div>

  <!--   <div class="flexslider-container">
        <figure class="flexslider">
            <ul class="slides">
                <li>
                    <img src="static/weego-img/img01.jpg">
                </li>
                <li>
                    <img src="static/weego-img/img02.jpg">
                </li>
                <li>
                    <img src="static/weego-img/img03.jpg">
                </li>
            </ul>
        </figure>
        <div class="flexslider-controls"></div>
    </div> -->

    <div>
        <img src="static/img/cinco_festa.jpg">
    </div>

    <div class="wrapped-content">

        <p>Com grande estilo nasce em BH o aplicativo Weego.in e vem para mudar o seu jeito de ir para a balada. Encontre em um só lugar tudo o que você precisa para decidir e curtir a noite. As melhores baladas e pubs.

        <br /><br />Portanto, nada melhor do que inaugurar com uma grande festa e as melhores atrações!

        <br /><br />Como destaque nas pick-ups o DJ e modelo Mateus Verdelho, famoso por tocar nas principais baladas do Brasil com seu estilo único e marcante.</p>

        <p>E não para por ai, muitas outras atrações e sorteios na festa que promete ser a noite mais balada do dia 22!</p>

        <p>✘ Line Up:<br />

            <br /> ✓ Mateus Verdelho
            <br />✓ Guido Santana
            <br />✓ Michel Lara 
        </p>
    </div>
</article>

<div id="comments-form-container" class="wrapped-content comments-form-container">
        <input class="button radius" style="width:100%;" type="submit" value="CONFIRMAR NOME NA LISTA"><br/><br/>
        <!-- <input class="button radius" style="width:100%; background:#34393d;" type="submit" value="CONVIDAR AMIGOS"> -->
</div>