<article class="format-gallery">
	<div class="wrapped-content">
		<div class="title"><span class="category">Gallery</span> <span class="time">15, September</span></div>
		<h2><a href="blog-single.html">The End Of Kindness: Weev And The Cult Of The Angry Young Man</a></h2>
	</div>

	
    <div class="flexslider-container">
    	<figure class="flexslider">
    		<ul class="slides">
        	    <li>
        	    	<img src="static/assets/blog/blog01.jpg" alt="Blog Gallery">
        	    </li>
        	    <li>
        	    	<img src="static/assets/blog/blog02.jpg" alt="Blog Gallery">
        	    </li>
        	    <li>
        	    	<img src="static/assets/blog/blog03.jpg" alt="Blog Gallery">
        	    </li>
    		</ul>
    	</figure>
    	<div class="flexslider-controls"></div>
    </div>

	<div class="wrapped-content">
		<p>
			We’re not living in the “post-PC” era. Not by a long shot. As more of us work from home, or the plane, or the <a href="#">coffee shop</a>, laptops might be more. Aside post format. Important than they’ve ever been. They’ve also <strong>become harder</strong> and harder to buy, as hardware specs have hit.
		</p>
		<hr>
		<p class="read-more"><a href="blog-single.html">Read More</a></p>
	</div>
</article>


<article id="format-quote" class="format-quote">
    <p class="icon-bg icon-quote"></p>
    <div class="wrapped-content">
        <blockquote>
            &ldquo;I don't know the key to success, but the key to failure is trying to please everybody.&ldquo;
        </blockquote>
    </div>
</article>


<article id="format-link" class="format-link">
    <p class="icon-bg icon-link"></p>
    <div class="wrapped-content">
        <a href="http://jansimecek.com/themes/">jansimecek.com/themes/</a>
        <p class="link-description">Link post <mark class="yellow">description</mark>, here you can <strong>describe</strong> the actuall meaning of this link to prevent missleading.</p>
    </div>
</article>


<article class="format-standard">
	<div class="wrapped-content">
		<p class="title"><span class="category">Design</span> <span class="time">9, August</span></p>
		<h2><a href="blog-single-standard.html">Layoffs hit HTC America as the company struggles to turn itself around</a></h2>
	</div>
	<figure>
		<img src="static/assets/blog/blog04.jpg" alt="Layoffs hit HTC America as the company struggles to turn itself around">
	</figure>
	<div class="wrapped-content">
		<p>
			We’re not living in the “post-PC” era. Not by a long shot. As more of us work from home, or the plane, or the <a href="#">coffee shop</a>, laptops might be more. Aside post format. Important than they’ve ever been. They’ve also <strong>become harder</strong> and harder to buy, as hardware specs have hit.
		</p>
		<hr>
		<p class="read-more"><a href="blog-single-standard.html">Read More</a></p>
	</div>
</article>


<article id="format-aside" class="format-aside">
    <p class="icon-bg icon-attach"></p>
    <div class="wrapped-content">
        <p>
        	We’re not living in the “post-PC” era. Not by a long shot. As more of us work from home, or the plane</a>, or the coffee shop, laptops might be more. <mark class="yellow">Aside post format</mark>. Important than they’ve ever been. They’ve also <strong>become harder</strong> and harder to buy, as hardware specs have hit stratospheric heights while simultaneously somehow <a href="#">becoming</a> even more difficult to explain or differentiate.
        </p>
    </div>
</article>

<div class="text-center" style="margin-bottom: 40px;">
	<a href="#" class="button radius">Load More</a>
</div>