<div class="search-div">
	<form id="search-form" class="full-width" action="" data-abide>
		<input type="search" placeholder="O que você está procurando..." required>
		<a href="#" class="button button-search">Buscar</a>
	</form>
</div>
<div id="gallery" class="gallery-container one-column photoswipe">
	<a href="javascript:void(0);" data-location-path="place/woods/events"><img src="static/weego-img/img01.jpg" alt="Woods" style="max-width: 100%"></a>
	<a href="javascript:void(0);" data-location-path="place/woods/events"><img src="static/weego-img/img01.jpg" alt="Woods"></a>
	<a href="javascript:void(0);" data-location-path="place/woods/events"><img src="static/weego-img/img01.jpg" alt="Woods"></a>
	<a href="javascript:void(0);" data-location-path="place/woods/events"><img src="static/weego-img/img01.jpg" alt="Woods"></a>
	<a href="javascript:void(0);" data-location-path="place/woods/events"><img src="static/weego-img/img01.jpg" alt="Woods"></a>
	<a href="javascript:void(0);" data-location-path="place/woods/events"><img src="static/weego-img/img01.jpg" alt="Woods"></a>
<!-- 	<a href="assets/gallery/gallery02.jpg"><img src="weego-img/img02.jpg" alt="Cristiano Araújo"></a>
	<a href="assets/gallery/gallery03.jpg"><img src="weego-img/img05.jpg" alt="Caipirinha"></a>
	<a href="assets/gallery/gallery03.jpg"><img src="weego-img/img03.jpg" alt="Verão Sexta"></a>
	<a href="assets/gallery/gallery04.jpg"><img src="weego-img/img06.jpg" alt="Woods Delas"></a>
	<a href="assets/gallery/gallery04.jpg"><img src="weego-img/img04.jpg" alt="Verão Sábado"></a> -->
</div>