<div class="wrapped-content-login comments-form-container">
	<img src="static/img/logo_white.jpg" style="position: relative;left: -150px;max-width: 100%;height: auto; margin-top:30px; margin-bottom: 60px;">
	<p style="position: relative;left: -26%;width: 50%;margin: 0px;align-content: center;text-align: center;font-size: larger;">Weego, o aplicativo que vai mudar o seu jeito de ir para baladas e pubs. Entre agora na versão pré-lançamento e venha em nossa festa de inauguração.</p>

    <a href="javascript:;"><img src="static/img/facebook_login.png" style="position: relative;left: -150px;max-width: 100%;height: auto; margin-top:30px; margin-bottom: 60px;" ng-click="performLogin()"></a>
</div>