<article class="format-gallery">
    <div class="wrapped-content">
        <div class="title"><span class="category">Casa Noturna</span></div>
        <h2>Cinco - Belo Horizonte</h2>
    </div>

    <!-- <div class="flexslider-container">
        <figure class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/www/static/assets/blog/blog01.jpg" alt="Blog Gallery">
                </li>
                <li>
                    <img src="/www/static/assets/blog/blog02.jpg" alt="Blog Gallery">
                </li>
                <li>
                    <img src="/www/static/assets/blog/blog03.jpg" alt="Blog Gallery">
                </li>
            </ul>
        </figure>
        <div class="flexslider-controls"></div>
    </div> -->

    <div>
        <img src="static/img/cinco.png">
    </div>

    <div class="wrapped-content">

        <p>A Cinco tem um conceito moderno e de tecnologia, com um alto nível de qualidade, direcionada a um público extremamente exigente e selecionado. Com Princícipios de uma relação estável e duradoura com seu público, entende que os meios de alcançar essa relação constituem um diferencial de mercado</p>
        <hr>
        <p class="text-center share-widget">
        <a class="icon-twitter" href="#"></a>
        <a class="icon-facebook" href="#"></a>
        <a class="icon-google" href="#"></a>
        </p>
    </div>
</article>

<div id="comments-form-container" class="wrapped-content comments-form-container">
        <a href="#!/place/cinco/events"> <input class="button radius" style="width:100%;" type="submit" value="Eventos"> </a>
</div>