<div class="hero" id="map-container-api"></div>


<div class="wrapped-content">
	<h2>Contact</h2>

	<p>And because absurdly against reindeer <mark class="yellow">amphibiously hello excluding</mark> hence input until coasted dear climbed as jeepers alas unlike juggled some gerbil as rhinoceros inconsiderately a boastful one panda jellyfish timorously across yikes along much the beneath goodness successfully <a href="#">lackadaisically</a> and a a meadowlark less and darn some after due much.</p>
	<p>Suavely as darn cassowary wow swam joyfully well since and the circa <strong>forlorn hedgehog</strong> bandicoot touched via yellow re-laid krill malicious hyena the fragrant raccoon neutral ape a held explicit wasp that normally darn felicitously grimy scurrilous the.</p>

	<div class="widget">
		<h3>Address</h3>
		<address>
		<span class="mark-text">Now Inc.</span>
		<br>
		Magical Ocean Avenue, 540/10
		<br>
		San Francisco, 889 02
		</address>
	</div>

	<div class="widget">
		<h3>Social Networks</h3>
		<ul class="inline-list">
			<li><a class="icon-twitter" href="#"></a></li>
			<li><a class="icon-facebook" href="#"></a></li>
			<li><a class="icon-dribbble" href="#"></a></li>
			<li><a class="icon-youtube" href="#"></a></li>
			<li><a class="icon-rss" href="#"></a></li>
		</ul>
	</div>

	<div class="widget">
		<h3>Skills</h3>
		<div class="progress radius large-12 lightblue"><span class="meter" style="width: 48%">&nbsp;&nbsp;&nbsp;&nbsp;PHP</span></div>
		<div class="progress radius large-12 green"><span class="meter" style="width: 90%">&nbsp;&nbsp;&nbsp;&nbsp;CSS/HTML</span></div>
		<div class="progress radius large-12 orange"><span class="meter" style="width: 78%">&nbsp;&nbsp;&nbsp;&nbsp;JavaScript</span></div>
	</div>

								<form id="contact-form" class="full-width" action="" data-abide>
			<h3>Send us an e-mail!</h3>
			
			<p>
				<label for="name">Your Name <span class="mark-text">(Required)</span></label>
	
				<input type="text" name="name" id="name" required>
			</p>
	
			<p>
				<label for="e-mail">Your E-mail <span class="mark-text">(Required)</span></label>
	
				<input type="email" class="h5-email" name="e-mail" id="e-mail" required>
			</p>
	
			<p>
				<label for="subject">Subject</label>
	
				<input type="text" name="subject" id="subject">
			</p>
	
			<p>
				<label for="text">Your Message <span class="mark-text">(Required)</span></label>
	
				<textarea name="text" id="text" cols="30" rows="10" required></textarea>
			</p>
	
			<p>
				<input class="button radius" type="submit" value="Send">
				<input class="push-right push-small button radius secondary" type="reset" value="Reset">
			</p>
		</form>
	
</div>